#body {
 background-color:  hsl(185, 41%, 84%);
 font-family: 'Space Mono', monospace;
}

.flex-top {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}

.flex-container {

    display: flex;

    flex-wrap: wrap;
    border-radius: 30px;
}

.radio-toolbar {
    width: 100%;
}



.radio-toolbar input[type="radio"] {

    display: none;
}

.radio-toolbar label {
    display: inline-block;
    background-color: aqua;
    width: 32%;
    padding: 2%;
}

.radio-toolbar input[type="radio"]:checked+label {
    background-color: rgb(130, 19, 124);
}

.reset {

border-radius: 15px;
}